# Jupyter Notebook Exercise

### Let's go!!

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('DataSeerGrabPrizeData.csv')

In [8]:
df.describe()

,pick_up_latitude,pick_up_longitude,drop_off_latitude,drop_off_longitude,fare,pick_up_distance
count,300.000000,300.000000,300.000000,300.000000,300.000000,245.000000
mean,14.568170,121.045472,14.570122,121.032800,206.747917,1.265060
std,0.105709,0.050816,0.051373,0.031681,127.126511,0.988334
min,12.879721,120.972865,14.417032,120.867120,0.000000,0.031872
25%,14.551893,121.024334,14.550883,121.017265,167.031250,0.484101
50%,14.572160,121.042200,14.559313,121.027670,211.875000,1.009640
75%,14.589131,121.061000,14.589908,121.054867,269.843750,1.786890
max,14.702179,121.774017,14.881480,121.122690,811.250000,5.160290

In [9]:
df = df.dropna()

In [12]:
df.describe()

,pick_up_latitude,pick_up_longitude,drop_off_latitude,drop_off_longitude,fare,pick_up_distance
count,245.000000,245.000000,245.000000,245.000000,245.000000,245.000000
mean,14.575107,121.041683,14.572584,121.031730,253.160714,1.265060
std,0.036720,0.027717,0.050846,0.032275,89.476141,0.988334
min,14.465721,120.980200,14.426363,120.867120,146.250000,0.031872
25%,14.551840,121.023880,14.551694,121.016413,190.000000,0.484101
50%,14.572100,121.039720,14.560710,121.027270,229.375000,1.009640
75%,14.589480,121.060081,14.594508,121.053580,295.000000,1.786890
max,14.688088,121.122690,14.881480,121.122690,811.250000,5.160290

In [16]:
df.to_csv('git_basics_removed_missing.csv', index=False)